#main {
    background-image: url('/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.movie {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: rgba(49, 45, 45, 0.692);
    color: white;
    margin-top: 3%;
    padding: 1%;
}


.img {
    width: 23vw;
    margin-left: 10%;
    border-radius: 6px;
}

.movieInfos {
    margin-top: 2%;
    margin-left: 4%;

}

.movieInfos h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 3%;
}

.movieInfos p {
    border-bottom: 1px solid white;
    padding: 1%;
}

.video {
    border: 1px solid white;
    border-radius: 6px;
    width: 100%;
    margin: 0.2%;
    margin-top: 1%;
    margin-bottom: 10%;
}

.page {
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(0, 0, 0, 0.712);
    border: 1px solid rgba(255, 255, 255, 0.363);
}

.formRating {
    border: 1px solid white;
    padding: 1%;
    margin-bottom: 4%;
    border-radius: 6px;
}

.value {
    background-color: rgba(255, 255, 255, 0.452);
    color: white;
    border-radius: 6px;
    width: 20%;
    padding-left: 1%;
    height: 5%;
}

.comment {
    margin-top: 1%;
    background-color: rgba(255, 255, 255, 0.452);
    color: white;
    border-radius: 6px;
    width: 40%;
    padding: 1%;
    resize: none;
}

.formRating h2 {
    color: white;
    padding: 1%;
}

.submitBtn {
    width: 40%;
    height: 10%;
    background-color: white;
    border-radius: 6px;
}

.submitBtn:hover {
    background-color: rgba(255, 255, 255, 0.356);
    color: white;    
}

.ratings {
    margin-bottom: 10%;
    border: 1px solid rgba(255, 255, 255, 0.466);
    border-radius: 6px;
    padding: 1%;
    margin-left: 0.1%;
    margin-right: 0.1%;
}

.ratingCard {
    border: 1px solid rgba(255, 255, 255, 0.445);
    border-radius: 6px;
    color: white;   
    padding: 1%;
    margin-bottom: 2%;
}

.ratingCard label {
    border-bottom: 1px solid white;
}