
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../images/wallpaperSong.webp);
    background-size: cover;    
}

.container {
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.479);
    border-radius: 6px;
    height: 40%;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2%;
    padding-top: 4%;
    display: grid;
    grid-template-columns: 50% 50%;
}


.answers button {
    width: 93%;
    height: 12%;
    background-color: rgb(255, 210, 151);
    border: 1px solid rgba(0, 0, 0, 0.473);
    border-radius: 20px;
}

.answers button:hover {
    background-color: rgb(214, 177, 127);
    cursor: pointer;
}

#playbtn {
    height: 15%;
    width: 15%;
    font-size: 14px;
    margin-top: 10%;
    margin-left: 25%;
}